{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "indent": ["error", 2],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "comma-dangle": ["error", "never"],
    "no-cond-assign": ["error", "always"],
    "no-console": "off",
    "eqeqeq": ["error", "smart"],
    "curly": ["error", "multi-line"],
    "no-else-return": ["error"],
    "no-eval": ["error"],
    "no-use-before-define": ["error"],
    "no-undef": ["error"],
    "array-bracket-spacing": ["error", "never"],
    "object-curly-spacing": ["error", "always"],
    "no-unused-vars": [2, {"vars": "local", "args": "after-used"}]
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  }
}
